# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model files
ml/models/*
!ml/models/.gitkeep

# ML generated outputs
ml/outputs/negative_review_predictions.csv
ml/outputs/seller_segments.csv

# Python cache inside project tools
ml/__pycache__/

# dbt generated/vendor artifacts
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Airflow
airflow/logs/
airflow/plugins/
airflow/airflow.cfg

# Reports temp files
~$*.docx
~$*.pptx
